<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" package="jp.co.mwpc.BeahatTutorial">
	<uses-sdk android:minSdkVersion="19" />
	<uses-permission android:name="android.permission.BLUETOOTH" />
	<uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
	<application android:label="BeahatTutorial.Droid" android:theme="@style/MyTheme"></application>
</manifest>